<div class="container-fluid fondo">
    <div class="row rowContainer">
        <div class="col-md col-sm-6 col-12 col1">
            <img id="iconoFooter" src="../../../assets/logoFooter.png" alt="">
        </div>

        <div class="col-md col-sm-6 col-12 col2">
            <div class="row rowItem">
                <a target="_blank" class="item" href="https://wa.link/c5gla9"> <img class="icono" src="../../../assets/celularIcono.png" alt="">&nbsp;+54 351 6795983</a>
            </div>
            <div class="row rowItem">
                <img class="icono" src="../../../assets/emailIcono2.png" alt=""> <a class="item">&nbsp;arianna.saienni&#64;gmail.com</a>
            </div>
            <div class="row rowItem">
                <a target="_blank" class="item itemDireccion" href="https://www.google.com/maps?ll=-31.411668,-64.190292&z=14&t=m&hl=en&gl=US&mapclient=embed&q=Av.+Col%C3%B3n+525+X5000+C%C3%B3rdoba"> 
                    <img class="icono" src="../../../assets/ubicacionIcono.png" alt="">&nbsp;Av. Colón N° 525 Primer Piso
                    Of. E, Córdoba, Argentina.</a>
                <a target="_blank" class="item itemDireccionMobile" href="https://www.google.com/maps?ll=-31.411668,-64.190292&z=14&t=m&hl=en&gl=US&mapclient=embed&q=Av.+Col%C3%B3n+525+X5000+C%C3%B3rdoba"> 
                    <img class="icono" src="../../../assets/ubicacionIcono.png" alt="">&nbsp;Av. Colón N° 525 Primer Piso <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Of. E, Córdoba, Argentina.</a>
            </div>
        </div>

        <div class="col-md col-sm-12 col-12 col3">
                <iframe id="mapa" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Av.%20Col%C3%B3n%20N%C2%B0%20525%20Primer%20Piso%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Of.%20E,%20C%C3%B3rdoba,%20Argentina.+(Saienni%20Blanco)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                    <a target="_blank" href="https://www.gps.ie/">gps trackers</a></iframe>
        </div>
    </div>
    <a href="https://wa.link/c5gla9" target="_blank"><img id="iconoWsp" src="../../../assets/whatsappIcono.png" alt=""></a>
</div>