<div class="container-fluid fondo">
    <div class="col-md-7 col-12 divCirculo">
        <div class="circulo">
            <div class="row divLogo">
                <img class="logo" src="../../../assets/logoBarra.png" alt="">
            </div>
            <div class="divSubTitulo text-center">
                Asesoramiento integral <br> en derecho del trabajo
            </div>
            <!-- <div class="divButton text-center">
                <button class="boton">
                    NOSOTROS
                </button>
            </div> -->
        </div>
    </div>
</div>