<div class="container-fluid fondo">
    <div class="row rowContainer">
        <div class="fondoBlanco col-9">
            <div class="divCirculo">
                <img class="circulo" src="../../../assets/circuloRecortado.png" alt="">
            </div>
        </div>
        <div class="fondoAmarillo col-3"></div>

        <div class="containerTarjetasServicios">
            <div class="titulo">OFRECEMOS ASESORAMIENTO EN: </div>
            <div class="row rowTarjetaServicios">
                <div class="col-3 tarjetaServicio text-center">
                    <div class="containerSubtitulo">
                        <img class="iconoServicio" src="../../../assets/despidos.png" alt="">
                        <div class="subtitulo">DESPIDOS</div>
                    </div>
                    <div class="descripcion">
                        Te asesoramos para el correcto cobro de la liquidación e indemnizaciones tras un despido verbal
                        o por carta documento. Si hay falta de pago o pago deficiente, te acompañamos en el reclamo
                        judicial o extrajudicial hasta el cobro efectivo.
                    </div>
                </div>
                <div class="col-3 tarjetaServicio text-center">
                    <div class="containerSubtitulo">
                        <img class="iconoServicio" src="../../../assets/trabajoNoRegistrado.png" alt="">
                        <div class="subtitulo">TRABAJO NO REGISTRADO</div>
                    </div>
                    <div class="descripcion">
                        Te acompañamos en el reclamo de tus derechos laborales si tu trabajo no
                        está registrado o está registrado deficientemente. El empleador debe entregarte un recibo de
                        sueldo con todas las horas trabajadas, la remuneración real y tu verdadera categoría laboral.
                        Contáctanos para asesoramiento.
                    </div>
                </div>
                <div class="col-3 tarjetaServicio text-center">
                    <div class="containerSubtitulo">
                        <img class="iconoServicio" src="../../../assets/haberes.png" alt="">
                        <div class="subtitulo">DIFERENCIA DE HABERES</div>
                    </div>
                    <div class="descripcion">
                        Los convenios colectivos de trabajo de cada actividad establecen las remuneraciones mínimas a
                        las que tiene derecho un trabajador de acuerdo a su jornada y categoría. Si te están abonando
                        una remuneración por debajo de lo que te corresponde de acuerdo a las horas que trabajás y a las
                        tareas que realizás, podés solicitarnos asesoramiento.
                    </div>
                </div>
                <div class="col-3 tarjetaServicio text-center">
                    <div class="containerSubtitulo">
                        <img class="iconoServicio" src="../../../assets/violenciaLaboral.png" alt="">
                        <div class="subtitulo">VIOLENCIA Y DISCRIMINACIÓN LABORAL</div>
                    </div>
                    <div class="descripcion">
                        Las personas tenemos derechos a trabajar en ambientes sanos y libres de violencia. Si en tu
                        relación de trabajo estás padeciendo alguna situación de violencia o discriminación, podemos
                        asesorarte y acompañarte para salir de esta situación y reclamar que no se vulneren tus
                        derechos.
                    </div>
                </div>

            </div>
            <div class="row rowTarjetaServicios">
                <div class="col-3 tarjetaServicio text-center">
                    <div class="containerSubtitulo">
                        <img class="iconoServicio" src="../../../assets/accidenteLaboral.png" alt="">
                        <div class="subtitulo">ACCIDENTES DE TRABAJO</div>
                    </div>
                    <div class="descripcion">
                        Te asesoramos integralmente para proteger tu salud y derechos tras un accidente laboral.
                        Trabajamos con peritos médicos especializados, denunciamos el siniestro ante la Aseguradora de
                        Riesgos del Trabajo, exigimos prestaciones médicas, controlamos el pago de tu sueldo durante la
                        licencia y reclamamos la indemnización legal correspondiente.
                    </div>
                </div>
                <div class="col-3 tarjetaServicio text-center">
                    <div class="containerSubtitulo">
                        <img class="iconoServicio" src="../../../assets/enfermedadesProfesionales.png" alt="">
                        <div class="subtitulo">ENFERMEDADES PROFESIONALES</div>
                    </div>
                    <div class="descripcion">
                        Te brindamos asesoramiento integral para proteger tu salud y derechos ante una enfermedad
                        laboral. Trabajamos con peritos médicos especializados, denunciamos el siniestro ante la
                        Aseguradora de Riesgos del Trabajo, exigimos prestaciones médicas, controlamos el pago de tu
                        sueldo durante la licencia y reclamamos la indemnización legal correspondiente.
                    </div>
                </div>
                <div class="col-3 tarjetaServicio text-center">
                    <div class="containerSubtitulo">
                        <img class="iconoServicio" src="../../../assets/asesoramiento.png" alt="">
                        <div class="subtitulo">ASESORAMIENTO A EMPLEADORES</div>
                    </div>
                    <div class="descripcion">
                        Brindamos asesoramiento integral a empleadores en el ejercicio de sus derechos y obligaciones.
                    </div>
                </div>
                <div class="col-3 tarjetaServicio text-center">
                    <div class="containerSubtitulo">
                        <img class="iconoServicio" src="../../../assets/condicionesTrabajo.png" alt="">
                        <div class="subtitulo">CAMBIO EN LAS CONDICIONES DE TRABAJO</div>
                    </div>
                    <div class="descripcion">
                        Tenés derecho a que no se modifique tu lugar de trabajo, tu remuneración, tu jornada laboral y
                        las tareas que realizas sin tu consentimiento. Podemos asesorarte en caso de incumplimiento.
                    </div>
                </div>
            </div>
        </div>

        <div class="containerTarjetasServiciosMobile">
            <div class="titulo text-center">OFRECEMOS ASESORAMIENTO EN: </div>
            <div class="row rowMobile">
                <div class="col-md-6 col-12 columnaMobile">
                    <div class="divTarjetaServicioMobile ">
                        <div class="tarjetaServicioMobile">
                            <div class="containerSubtituloMobile">
                                <img class="iconoServicioMobile" src="../../../assets/despidos.png" alt="">
                                <div class="subtituloMobile">DESPIDOS</div>
                            </div>
                            <div class="descripcionMobile">
                                <br> Te asesoramos para el correcto cobro de la liquidación e indemnizaciones tras un despido verbal
                                o por carta documento. Si hay falta de pago o pago deficiente, te acompañamos en el reclamo
                                judicial o extrajudicial hasta el cobro efectivo.
                            </div>
                        </div>
                    </div>
                    <div class="divTarjetaServicioMobile ">
                        <div class="tarjetaServicioMobile">
                            <div class="containerSubtituloMobile">
                                <img class="iconoServicioMobile" src="../../../assets/trabajoNoRegistrado.png" alt="">
                                <div class="subtituloMobile">TRABAJO NO REGISTRADO</div>
                            </div>
                            <div class="descripcionMobile">
                                <br> Te acompañamos en el reclamo de tus derechos laborales si tu trabajo no
                                está registrado o está registrado deficientemente. El empleador debe entregarte un recibo de
                                sueldo con todas las horas trabajadas, la remuneración real y tu verdadera categoría laboral.
                                Contáctanos para asesoramiento.
                            </div>
                        </div>
                    </div>
                    <div class="divTarjetaServicioMobile ">
                        <div class="tarjetaServicioMobile">
                            <div class="containerSubtituloMobile">
                                <img class="iconoServicioMobile" src="../../../assets/haberes.png" alt="">
                                <div class="subtituloMobile">DIFERENCIA DE HABERES</div>
                            </div>
                            <div class="descripcionMobile">
                                <br> Los convenios colectivos de trabajo de cada actividad establecen las remuneraciones mínimas a
                                las que tiene derecho un trabajador de acuerdo a su jornada y categoría. Si te están abonando
                                una remuneración por debajo de lo que te corresponde de acuerdo a las horas que trabajás y a las
                                tareas que realizás, podés solicitarnos asesoramiento.
                            </div>
                        </div>
                    </div>
                    <div class="divTarjetaServicioMobile ">
                        <div class="tarjetaServicioMobile">
                            <div class="containerSubtituloMobile">
                                <img class="iconoServicioMobile" src="../../../assets/violenciaLaboral.png" alt="">
                                <div class="subtituloMobile">VIOLENCIA Y DISCRIMINACIÓN LABORAL</div>
                            </div>
                            <div class="descripcionMobile">
                                <br> Las personas tenemos derechos a trabajar en ambientes sanos y libres de violencia. Si en tu
                                relación de trabajo estás padeciendo alguna situación de violencia o discriminación, podemos
                                asesorarte y acompañarte para salir de esta situación y reclamar que no se vulneren tus
                                derechos.
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-12 columnaMobile">
                    <div class="divTarjetaServicioMobile ">
                        <div class="tarjetaServicioMobile">
                            <div class="containerSubtituloMobile">
                                <img class="iconoServicioMobile" src="../../../assets/accidenteLaboral.png" alt="">
                                <div class="subtituloMobile">ACCIDENTES DE TRABAJO</div>
                            </div>
                            <div class="descripcionMobile">
                                <br> Te asesoramos integralmente para proteger tu salud y derechos tras un accidente laboral.
                                Trabajamos con peritos médicos especializados, denunciamos el siniestro ante la Aseguradora de
                                Riesgos del Trabajo, exigimos prestaciones médicas, controlamos el pago de tu sueldo durante la
                                licencia y reclamamos la indemnización legal correspondiente.
                            </div>
                        </div>
                    </div>
                    <div class="divTarjetaServicioMobile ">
                        <div class="tarjetaServicioMobile">
                            <div class="containerSubtituloMobile">
                                <img class="iconoServicioMobile" src="../../../assets/enfermedadesProfesionales.png" alt="">
                                <div class="subtituloMobile">ENFERMEDADES PROFESIONALES</div>
                            </div>
                            <div class="descripcionMobile">
                                <br> Te brindamos asesoramiento integral para proteger tu salud y derechos ante una enfermedad
                                laboral. Trabajamos con peritos médicos especializados, denunciamos el siniestro ante la
                                Aseguradora de Riesgos del Trabajo, exigimos prestaciones médicas, controlamos el pago de tu
                                sueldo durante la licencia y reclamamos la indemnización legal correspondiente.
                            </div>
                        </div>
                    </div>
                    <div class="divTarjetaServicioMobile ">
                        <div class="tarjetaServicioMobile">
                            <div class="containerSubtituloMobile">
                                <img class="iconoServicioMobile" src="../../../assets/asesoramiento.png" alt="">
                                <div class="subtituloMobile">ASESORAMIENTO A EMPLEADORES</div>
                            </div>
                            <div class="descripcionMobile">
                                <br> Brindamos asesoramiento integral a empleadores en el ejercicio de sus derechos y obligaciones.
                            </div>
                        </div>
                    </div>
                    <div class="divTarjetaServicioMobile ">
                        <div class="tarjetaServicioMobile">
                            <div class="containerSubtituloMobile">
                                <img class="iconoServicioMobile" src="../../../assets/condicionesTrabajo.png" alt="">
                                <div class="subtituloMobile">CAMBIO DE CONDICIONES DE TRABAJO</div>
                            </div>
                            <div class="descripcionMobile">
                                <br> Tenés derecho a que no se modifique tu lugar de trabajo, tu remuneración, tu jornada laboral y
                                las tareas que realizas sin tu consentimiento. Podemos asesorarte en caso de incumplimiento.
                            </div>
                        </div>
                    </div>
                    
                </div>
               
            </div>

        </div>

        <div class="divNosotros"><app-nosotros id="nosotros"></app-nosotros></div>
    </div>

</div>