<div class="container fondo">
    <div class="row">
        <div class="col divTarjetas">
                <div class="tarjeta text-center">
                    <div class="divIcono">
                        <img class="icono" src="../../../assets/balanzaNegra.png" alt="">
                    </div>
                    <div class="titulo">
                        Asesoramiento legal personalizado 
                    </div>
                    <div class="texto">
                        Buscamos soluciones integrales a las necesidades de las personas atendiendo siempre a las particularidades de cada cas.
                    </div>
                </div>
                <div class="tarjeta text-center">
                    <div class="divIcono">
                        <img class="icono" src="../../../assets/balanzaNegra.png" alt="">
                    </div>
                    <div class="titulo">
                        Compromiso y honestidad 
                    </div>
                    <div class="texto">
                        Estamos comprometidos con la defensa de los derechos de los trabajadores y ejercemos nuestra profesión de forma ética y trasparente.  
                    </div>
                </div>
                <div class="tarjeta text-center">
                    <div class="divIcono">
                        <img class="icono" src="../../../assets/balanzaNegra.png" alt="">
                    </div>
                    <div class="titulo">
                        Diligencia y profesionalismo 
                    </div>
                    <div class="texto">
                        Nos esforzamos por ofrecer un servicio jurídico de calidad, trabajando con responsabilidad y eficiencia.
                    </div>
                </div>
        </div>
    </div>
</div>