<img class="menuIcon" (click)="mostrarMenu()" src="../../../assets/menuIcon.png" alt="">
<div class="container-fluid fondo" [ngClass]="{'mostrar-menu': banderaMenu}" [ngClass]="{'hiddenMobile':  !banderaMenu}">
    <img class="flechaMenu" (click)="mostrarMenu()" src="../../../assets/flecha-izquierda-menu.png" alt="">
    <div class="divBarra" [ngClass]="{'hidden':  isNavHidden}">
        <div class="barra row">
            <div class="divLogo col-lg-7 col-md-6 col-sm-5 col-3 ">
                <a href="/"><img id="logo" src="../../../assets/LogoNombreBlanco.png" alt=""></a>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-7 col-9 divItems">
                <div class="divItem col">
                    <a (click)="mostrarMenu()" class="item text-center" [ngClass]="{'active':item === 'inicio'}"  (click)="scrollTo('inicio')"><div >INICIO</div></a>
                </div>
                <div class="divItem col">
                    <a (click)="mostrarMenu()" class="item text-center" [ngClass]="{'active':item === 'servicios'}"  (click)="scrollTo('servicios')"><div >SERVICIOS</div></a>
                </div>
                <div class="divItem col">
                    <a (click)="mostrarMenu()" class="item text-center" [ngClass]="{'active':item === 'nosotros'}" (click)="scrollTo('nosotros')"><div >NOSOTROS</div></a>
                </div>
                <div class="divItem col">
                    <a (click)="mostrarMenu()" class="item text-center" [ngClass]="{'active':item === 'contacto'}" (click)="scrollTo('contacto')"><div >CONTACTO</div></a>
                </div>
            </div>
        </div>
    </div>
</div>
