<div class="container-fluid fondo">
    <div class="containerTexto">
        <div class="titulo text-center">
            NUESTRO ESTUDIO
        </div>
        <div class="texto text-center">
            Somos un estudio jurídico especializado en derecho del trabajo. Ofrecemos asesoramiento jurídico integral en
            relaciones laborales tanto para trabajadores como para empleadores. Nos enorgullece trabajar con un enfoque de
            compromiso, honestidad y eficiencia, brindando un asesoramiento personalizado a nuestros clientes orientado a la
            defensa de sus derechos. Nos caracteriza el trato cercano y transparente, así como la búsqueda de soluciones
            legales eficaces para las necesidades de nuestros representados.
        </div>
    </div>
</div>